<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/style.css"/>

</head>
<body>
<div style="padding-left: 5%; padding-right: 5%; padding-top: 2%">
    <div class="header">
        <h1>Spring MVC - Produkty</h1>
    </div>

    <div class="content">
        <h2>Lista kategorii produktów:</h2>
        <a th:href="@{'/list?category=' + ${category.shortDescription}}" class="category-item"
           th:each="category: ${categories}">
            <div class="category-info ml-2">
                <p th:text="${category.fullDescription}">opis</p>
            </div>
        </a>
        <a href="/addForm" class="category-item">
            <div class="category-info ml-2">
                <p>Dodaj przedmiot</p>
            </div>
        </a>
    </div>
</div>
</body>
</html>