<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/style.css"/>

</head>
<body>
<div style="padding-left: 5%; padding-right: 5%; padding-top: 2%">
    <div class="header">
        <h1>Spring MVC - Produkty</h1>
    </div>

    <div class="content">
        <h2 th:text="${fullCategoryDescription}">Nazwa kategorii</h2>

<!--        <div class="category-info ml-2" th:each="item: ${items}">-->
<!--            <p th:text="${item.name}">nazwa</p>-->
<!--            <p th:text="${item.price}">cena</p>-->
<!--        </div>-->

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${items}">
                <td>
                    <p th:text="${item.name}">nazwa</p>
                </td>
                <td>
                    <p th:text="${item.price}">cena</p>
                </td>
            </tr>
            </tbody>
        </table>

        <b>Suma: </b>
        <p th:text="${totalPrice}">Suma cen</p>
        <a href="/">Powrót do strony głównej</a>
    </div>
</div>
</body>
</html>